.title {
  font-size: xxx-large;
  font-weight: 200;
}

.credit {
  font-size: small;
  font-weight: 300;
  display: flex;
}

.app-head {
  padding: 1rem;
}

.Body {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
}

.component {
  margin-left: 2rem;
  margin-right: 2rem;
}

.table-cell {
  float: center;
  padding: 1rem;
}

h2 {
  display: flex;
}
